.dark_overlay,
.nav_bar,
.drop_down_hamburger:hover .drop_down_content,
.main_content,
.scheduling_four_week_overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cal_divs,
.cal_divs_single,
.cal_divs_single_table,
.cal_divs_single_booked,
.cal_divs_single_first {
  border: 1px solid black;
  flex: 1 0 14%;
  height: 10vh;
  width: 4vw;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  z-index: 0;
  font-family: "Ubuntu", sans-serif;
}
.cal_divs,
.cal_divs_single,
.cal_divs_single_table,
.cal_divs_single_booked,
.cal_divs_single_first,
.links {
  text-decoration: none;
}
.inputs,
.search_bar {
  border-radius: 0.25rem;
  border: 1px solid #232f3e;
  width: 15vw;
  height: 2.5vh;
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
}
.inputs:hover,
.search_bar:hover {
  border: 1px solid #7171b9;
}
.labels {
  font-size: 1.3em;
  margin: 2vh 0 0.5vh 0;
}
.form_button,
.submit_button,
.choose_file,
.submit_image {
  background-color: #232f3e;
  margin-top: 1vh;
  border: none;
  color: #f7f4f4;
  width: 8vw;
  height: 3vh;
  border-radius: 0.25rem;
}
.form_button:hover,
.submit_button:hover,
.choose_file:hover,
.submit_image:hover {
  background-color: #2b3a4d;
  transform: translateY(-0.15vh);
}
h1 {
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f7f4f4;
}
.app {
  min-width: 100vw;
  min-height: 100vh;
  justify-content: flex-start;
  background-image: url("./images/building_background.jpg");
  background-size: cover;
}
.welcome_title {
  font-size: 2.5em;
  margin-bottom: 10%;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.dark_overlay {
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.692);
}
.nav_bar {
  grid-area: nav_bar;
  justify-content: space-between;
  background-color: #232f3e;
  color: #f7f4f4;
}
.drop_down_content {
  display: none;
}
.nav_title {
  margin-left: 2rem;
}
.nav_left_content {
  display: flex;
  flex-direction: row;
}
.triangleImage {
  width: 0.5em;
  margin-left: 0.2rem;
}
.drop_down_hamburger:hover .drop_down_content {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  background-color: #232f3e;
  padding: 1%;
  width: 10vw;
  z-index: 1;
}
.drop_down_hamburger:hover .triangleImage {
  transform: rotate(90deg);
}
.links {
  color: #f7f4f4;
  font-size: 1.1em;
}
.link_style:hover {
  background-color: grey;
  min-width: 8vw;
}
.middle_nav {
  margin-right: 18vw;
}
.home_content {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-columns: 100vw;
  grid-template-rows: 5vh 95vh;
  grid-template-areas: "nav_bar" "main_content";
}
.main_content {
  grid-area: main_content;
  background-color: #f7f4f4;
  align-items: flex-start;
  min-height: 80vh;
}
.calandar_container {
  width: 20vw;
  margin-top: 5vh;
  margin-left: 1%;
}
.nav_current_date {
  margin-right: 5px;
}
.drop_down_bar_container {
  margin-bottom: 1vh;
}
.scheduling_four_week_overlay {
  margin-top: 30vh;
  margin-left: 5%;
  flex-wrap: wrap;
  margin-right: 5%;
}
.cal_divs:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px black;
  z-index: 0.9;
  background-color: #232f3e;
  color: #f7f4f4;
}
.inner_calander_text {
  margin-top: 5px;
  margin-left: 5px;
}
.inner_calender_form {
  margin: 14vh auto;
  z-index: 1;
  width: 40vw;
  height: 40vh;
  border: 3px solid black;
}
@media only screen and (max-width: 1050px) {
  .cal_divs {
    flex: 1 0 13%;
  }
}
.single_week_grid {
  margin-top: 3vh;
  margin-left: 5vw;
  display: grid;
  height: 80vh;
  width: 60vw;
  grid-template-columns: 100%;
  grid-template-rows: 7.5% 85% 7.5%;
  grid-template-areas: "top_row" "middle_row" "bottom_row";
}
.cal_divs_single {
  width: 6vw;
  flex: 1 0 11%;
  height: 5vh;
  margin-bottom: 5px;
  background-color: #f3f6f6;
  color: #368694;
}
.cal_divs_single_table {
  width: 6vw;
  flex: 1 0 11%;
  height: 5vh;
  margin-bottom: 5px;
  background-color: white;
  color: black;
}
.cal_divs_single_table:hover {
  transform: translateY(-0.25rem);
  box-shadow: 2px 2px 2px black;
}
.cal_divs_single_booked {
  width: 6vw;
  flex: 1 0 11%;
  height: 5vh;
  margin-bottom: 5px;
  background-color: #232f3e;
  color: #f7f4f4;
}
.cal_divs_single_booked:hover {
  transform: translateY(-0.25rem);
  box-shadow: 2px 2px 2px black;
}
.cal_divs_single_first {
  min-width: 10vw;
  width: 6vw;
  flex: 1 0 11%;
  height: 5vh;
  margin-bottom: 5px;
  background-color: #f3f6f6;
  color: #368694;
}
.top_row {
  grid-area: top_row;
  display: flex;
  width: 59vw;
}
.middle_row {
  grid-area: middle_row;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 68vh;
}
.bottom_row {
  grid-area: bottom_row;
  display: flex;
  width: 59vw;
}
.inner_form_div {
  margin: 2rem 0 0 5rem;
  font-size: 1.2rem;
}
.new_employee_form {
  height: 90vh;
  width: 90vw;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop_down_bar_depots {
  width: 16vw;
}
.depots_form {
  width: 16vw;
}
.search_bar {
  margin: 10px 0px 10px;
}
.single_person_depots {
  width: 50vw;
  border: 2px solid #232f3e;
  height: 70vh;
  margin: 10vh 0 0 15vw;
}
.driver_list {
  overflow: scroll;
  width: 15vw;
  background-color: #232f3e;
  color: #f7f4f4;
  padding: 10px;
  font-size: 1.5em;
}
.depot_list:hover {
  background-color: #f7f4f4;
  color: #232f3e;
}
.selected_driver_profile {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.selected_driver_profile_column {
  border-right: 1px solid rgba(0, 0, 0, 0.199);
  height: 66vh;
}
.selected_driver_profile_column_item {
  margin-right: 2.5rem;
}
#dates_column {
  border-right: 1px solid #f7f4f4;
}
.main_content_driver {
  grid-area: main_content;
  background-color: #f7f4f4;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "main_title_driver_page main_title_driver_page" "nav_bar_driver main_content_driver_inner";
  min-height: 80vh;
}
.submit_files {
  border: 2px solid black;
  padding: 2rem;
  width: 40vw;
}
.submit_files_two {
  border: 2px solid black;
  padding: 2rem;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
.left_nav_driver_page {
  grid-area: nav_bar_driver;
  background-color: #232f3e;
  padding: 15px;
  color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.116);
}
.main_title_driver_page_inc {
  grid-area: main_title_driver_page;
}
.left_nav_driver_page_inner_div {
  min-height: 5vh;
}
.left_nav_driver_page_inner_div:hover {
  background-color: grey;
  min-width: 8vw;
  height: 3vh;
}
.driver_page_main_div {
  grid-area: main_content_driver_inner;
  width: 100%;
}
.driver_page_title {
  text-align: left;
  margin: 5px 0 0 10px;
}
.driver_page_title_under {
  margin: 0 0 5px 10px;
}
.overall_documents {
  display: flex;
  width: 80vw;
  margin: 2rem;
}
.uploaded_image {
  max-width: 30vw;
  max-height: 50vh;
}
.uploaded_image_two {
  max-width: 15vw;
  margin: 1rem;
}
