  $offWhite: rgb(254, 254, 254);
  $amazon_blue: #232F3E;
  $amazon_blue_hover: rgb(43, 58, 77);
  $calendar_top_background: #F3F6F6;
  $calendar_text_color: rgb(54, 134, 148);

  /*********************** BUTTON EFFECT *****************************************/

  .btn {
    position: relative;
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    width: 125px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  .btn svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .span_in_Button {
    padding-top: 15px;
  }

  .span_in_Button:hover {
    padding-top: 15px;
  }

  .span_in_Button_add {
    padding-top: 12px;
  }

  
  .btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  
  .btn span{
    background: $amazon_blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn:hover span{
    background: $amazon_blue_hover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $amazon_blue_hover;
  }
  
  .btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 59;
    stroke-dashoffset: 20;
  }

  // Button Picture
  .btn_picture {
    position: relative;
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    width: 125px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  .btn_picture svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .span_in_Button {
    padding-top: 5px;
  }

  .span_in_Button:hover {
    padding-top: 5px;
  }

  
  .btn_picture svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  
  .btn_picture span{
    background: $offWhite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn_picture:hover span{
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255);
  }
  
  .btn_picture:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 59;
    stroke-dashoffset: 20;
  }

  // bigger button
  .btn_big {
    position: relative;
    font-size: 1.1em;
    font-weight: 700;
    display: flex;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  .btn_big svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .btn_big svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 356, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
  }
  
  .btn_big span{
    background: $amazon_blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn_big:hover span{
    background: $amazon_blue_hover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $amazon_blue_hover;
  }
  
  .btn_big:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 110;
    stroke-dashoffset: 50;
  }
  
  /*********************** BUTTON EFFECT *****************************************/
  


  $ubuntu_font: 'Roboto';
  
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgb(35, 47, 62);
      box-shadow: 0 0 1px rgba(35, 47, 62, 0.329);
      -webkit-box-shadow: 0 0 1px rgba(35, 47, 62, 0.329);
  }

  %centerThings {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  %calendar_divs_class {
    border: 1px solid black;
    flex: 1 0 14%;
    height: 10vh;
    width: 4vw;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    z-index: 0;
    @extend %remove_link;
    font-family: $ubuntu_font;
  }

  %remove_link {
    text-decoration: none;
  }

  %input_bars {
    border-radius: .25rem;
    border: 1px solid $amazon_blue;
    width: 15vw;
    height: 2.5vh;
    padding: 5px;
    font-family: $ubuntu_font;
    font-size: 1.2em;
  }

  %input_bars:hover {
    border: 1px solid rgb(113, 113, 185);
  }

  %label_text {
    font-size: 1.3em;
    margin: 2vh 0 .5vh 0;
  }

  %buttons {
    background-color: $amazon_blue;
    margin-top: 1vh;
    border: none;
    color: $offWhite;
    width: 8vw;
    height: 4vh;
    border-radius: .25rem;
  }

  %buttons:hover {
    background-color: $amazon_blue_hover;
    transform: translateY(-.15vh);
  }

  h1 {
    text-align: center;
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color:   $offWhite;
  }

  /****************************************  SVG WAVES ************************************************************/
  @import url(//fonts.googleapis.com/css?family=Lato:300:400);

  .header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
  }

  .inner-header {
    height:65vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .googleButton {
    min-width: 10vw;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    color: $amazon_blue;
  }

  .main_title_h20 {
    font-family: $ubuntu_font;
    font-size: 4em;
  }

  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }

  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }

  /* Animation */

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

  /****************************************  WELCOME PAGE STYLE ************************************************************/
  .app {
    min-width: 100vw;
    min-height: 100vh;
    justify-content: flex-start;
    background-image: url('./images/building_background.jpg');
    background-size: cover;
  }
  
  .welcome_title {
    font-size: 2.5em;
    margin-bottom: 10%;
    color: white;
    font-family: $ubuntu_font;
  }
  
  .dark_overlay {
    @extend %centerThings;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.692);
  }
  
  /****************************************  NAV BAR STYLE ************************************************************/

  .nav_bar_top {
    grid-area: nav_bar_top;
    background-color: $offWhite;
    color: $amazon_blue;
    display: flex;
    -ms-display: flex;
  }

  .nav_bar {
    grid-area: nav_bar;
    background-color: $amazon_blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    align-items: flex-start;
  }

  .nothing {
    grid-area: nothing;
  }

  .nav_current_date {
    margin: auto 10px;
  }

  .middle_nav {
    margin: auto auto;
    width: 70vw;
  }

  .drop_down_content {
    display: none;
  }

  .nav_title {
    margin-left: 2rem;
  }

  .nav_left_content {
    display: flex;
    flex-direction: row;
  }

  .triangleImage {
    width: .5em;
    margin-left: .2rem;
    transform: rotate(180deg);
  }

  .drop_down_hamburger:hover .drop_down_content{
    position: absolute;
    @extend %centerThings;
    flex-direction: column;
    align-items: flex-start;
    background-color: $amazon_blue;
    padding: 1%;
    width: 10vw;
    z-index: 1;
  }

  .links {
    @extend %remove_link;
    color: $offWhite;
    font-size: 1.3em;
  }
  
  .link_style {
    height: 5vh;
    display: flex;
    align-items: center;
  }

  .link_style:hover {
    background-color: grey;
    min-width: 8vw;
    padding-left: 5px;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  /****************************************  HOME PAGE STYLE ************************************************************/
  .home_content {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 7vh 93vh;
    grid-template-areas: 
    "nothing nav_bar_top"
    "nav_bar main_content"
    ;
    z-index: .9;
  }

  .home_content_home {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 7vh 93vh;
    grid-template-areas: 
    "nothing nav_bar_top"
    "nav_bar main_content"
    ;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .fade_class {
    animation-name: fadeLoading;
    animation-duration: 1s;
  }

  .loading_home_div {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes loadingStyle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeLoading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .home_details {
    margin-left: 1rem;
    width: 20vw;
  }

  .drop_down_bar_container {
    margin-bottom: 1vh;
    width: 20vw;
  }

  .home_selectors {
    display: block;
    display: flex;
    width: 25vw;
    height: 10vh;
  }

  .colordivsblue {
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #232F3E;
  }

  .colordivsgreen {
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: rgb(16, 109, 16);
  }

  .colordivsyellow {
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: rgb(134, 134, 45);
  }
  
  .main_content {
    grid-area: main_content;
    background-color: $offWhite;
    align-items: flex-start;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .main_content_home_two {
    grid-area: main_content;
    background-color: $offWhite;
    align-items: flex-start;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .calandar_container {
    width: 80vw;
    margin: 1rem;
    padding: 0;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .pie {
    /* Basic layout */
    display: inline-block;
    width: 10em;
    height: 10em;
    border-radius: 50%;
  
    /* A little styling */
    border: .15em solid #fff;
    box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);
  
    /* fixes a minor clipping issue in Chrome */
    background-origin: border-box; 
  }

  .chart_overall {
    display: flex;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .names_label {
    margin-right: 1rem;
  }

  .drop_down_bar {
    margin-left: 1rem;
  }

  .drop_down_bar_two {
    padding: 5px;
  }

  .drop_down_bar_container_single_week {
    margin: 1rem;
    display: flex;
  }
  
  /****************************************  DIVWEEK STYLE ************************************************************/

  .three_week_calendar {
    @extend %centerThings;
    margin-top: 25vh;
    margin-left: 5%;
    flex-wrap: wrap;
    margin-right: 5%;
    border: 5px solid rgb(35, 47, 62);
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .cal_divs {
    flex: 1 0 13%;
    height: 10vh;
    width: 4vw;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    z-index: 0;
    @extend %remove_link;
    font-family: $ubuntu_font;
    margin-right: 5px;
    border-radius: .5rem;
    border-top: 0;
    border-right: 0;
    border-left: 5px solid rgb(35, 47, 62);
    border-bottom: 2px solid rgb(35, 47, 62);
  }

  .cal_divs_current {
    flex: 1 0 13%;
    height: 10vh;
    width: 4vw;
    margin-bottom: 5px;
    background-color: rgb(163, 161, 161);
    color: black;
    z-index: 0;
    @extend %remove_link;
    font-family: $ubuntu_font;
    margin-right: 5px;
    border-radius: .5rem;
    border-top: 0;
    border-right: 0;
    border-left: 5px solid rgb(35, 47, 62);
    border-bottom: 2px solid rgb(35, 47, 62);
  }
  
  .cal_divs:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 3px $amazon_blue;
    z-index: .9;
    border-left: 0;
    border-bottom: 0;
  }
  
  .inner_calander_text {
    margin-top: 5px;
    margin-left: 5px;
  }

  .inner_calender_form {
    margin: 14vh auto;
    z-index: 1;
    width: 40vw;
    height: 40vh;
    border: 3px solid black;
  }
  
  @media only screen and (max-width: 1050px) {
    .cal_divs {
      flex: 1 0 13%;
    }
  }
  
  /****************************************  SINGLEDIVWEEK STYLE ************************************************************/
  .main_content_week_schedule {
    grid-area: main_content;
    background-color: $offWhite;
    align-items: flex-start;
    flex-direction: column;
    @extend %centerThings;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .single_week_grid {
    margin: 1rem;
    display: grid;
    height: 80vh;
    width: 90%;
    grid-template-columns: 100%;
    grid-template-rows: 7.5% 85% 7.5%;
    grid-template-areas: 
    "top_row"
    "middle_row"
    "bottom_row"
    ;
  }

  .location_rota_loading {
    width: 100%;
    height: 100%;
    @extend %centerThings;
  }
  
  // 14s
  .cal_divs_single {
    @extend %calendar_divs_class;
    flex: 1 0 7.5%;
    height: 5vh;
    margin-bottom: 10px;
    background-color: $calendar_top_background;
    color: $amazon_blue;
  }
  
  .cal_divs_single_table {
    @extend %calendar_divs_class;
    flex: 1 0 6%;
    height: 5vh;
    margin-bottom: 5px;
    background-color: rgb(116, 38, 38);
    color: black;
  }

  .cal_divs_single_booked {
    @extend %calendar_divs_class;
    flex: 1 0 6%;
    height: 5vh;
    margin-bottom: 5px;
    background-color: rgb(49, 124, 49);
    color: $offWhite;
  }

  // sevens
  .cal_divs_single_seven {
    @extend %calendar_divs_class;
    flex: 1 0 9%;
    height: 5vh;
    margin-bottom: 10px;
    background-color: $calendar_top_background;
    color: $amazon_blue;
  }
  
  .cal_divs_single_table_seven {
    @extend %calendar_divs_class;
    flex: 1 0 11%;
    height: 5vh;
    margin-bottom: 5px;
    background-color: rgb(116, 38, 38);
    color: black;
  }

  .cal_divs_single_booked_seven {
    @extend %calendar_divs_class;
    flex: 1 0 11%;
    height: 5vh;
    margin-bottom: 5px;
    background-color: rgb(49, 124, 49);
    color: $offWhite;
  }

  .middle_row_seven {
    grid-area: middle_row;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 68vh;
    width: 72.5vw;
  }
  
  .cal_divs_single_booked:hover {
    transform: translateY(-.25rem);
    box-shadow: 2px 2px 2px black;
  }

  .cal_divs_single_table:hover {
    transform: translateY(-.25rem);
    box-shadow: 2px 2px 2px black;
  }
  
  .cal_divs_single_first {
    @extend %calendar_divs_class;
    min-width: 10vw;
    flex: 1 0 5%;
    height: 5vh;
    margin-bottom: 5px;
    background-color: $calendar_top_background;
    color: $amazon_blue;
    display: flex;
    align-items: center;
  }
  
  .top_row {
    grid-area: top_row;
    display: flex;
  }
  
  .middle_row {
    grid-area: middle_row;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 68vh;
    width: 87.6vw;
  }
  
  .bottom_row {
    grid-area: bottom_row;
    display: flex;
  }

  .form_button {
    @extend %buttons;
  }

  .inner_form_div {
    margin: 2rem 0 0 5rem;
    font-size: 1.2rem;
  }

  .scheduling_single_week_overlay {
    width: 80vw;
    margin: 0;
    padding: 0;
  }

  /****************************************  NEW EMPLOYEE PAGE STYLE ************************************************************/
  .main_content_new_driver {
    grid-area: main_content;
    margin-left: 2rem;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .new_employee_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .new_driver_form_container {
    align-self: flex-start;
  }
  
  .inputs {
    @extend %input_bars;
  }
  
  .labels {
    @extend %label_text;
  }
  
  .submit_button {
    @extend %buttons;
  }

  /****************************************  DASHBOARD PAGE STYLE ************************************************************/
  .main_content_dashboard {
    grid-area: main_content;
    background-color: $offWhite;
    overflow-y: scroll;
    padding-bottom: 5rem;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .dashboard_labels {
    margin: 1rem;
  }

  .search_bar {
    @extend %input_bars;
    margin: 0 0 10px; 
  }

  .name_suggestions {
    margin: 0;
  }

  .name_suggestions:hover {
    background-color: $amazon_blue_hover;
    color: $offWhite;
  }

  .input_dashboard_page {
    @extend %input_bars;
    border: 1px solid rgba(35, 47, 62, 0.247);
  }

  .title_for_dashboard {
    margin-left: 2rem;
  }

  .available_in_table {
    margin-left: 2rem;
  }

  .dashboard_text_field {
    width: 15.5vw;
    height: 10vh;
  }

  .dashboard_form {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 1rem;
  }

  .dashboard_form_divs {
    width: 32vw;
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
  }

  .dashboard_form_divs_name {
    width: 32vw;
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
  }

  .dashboard_form_divs_name_bar {
    width: 15vw;
    padding-top: 1.1vh;
    overflow-y: scroll;
    max-height: 5vh;
    margin-top: .5rem;
    margin-left: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dashboard_form_divs_name_bar_none {
    display: none;
  }

  .top_rectangles_container {
    display: flex;
    padding: 2px;
    margin: 0 6rem 0 6rem;
  }

  .dashboard_top_rectangles {
    width: 4.5vw;
    height: 8vh;
    margin: 1.5px;
    border:2px solid black;
  }

  .drop_down_bar_dashboard {
    width: 15.7vw;
  }
  
  /****************************************  DOCUMENTS COMPONENT STYLE ************************************************************/
  .main_content_driver_documents{
    grid-area: main_content;
    background-color: $offWhite;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .overall_documents{
    display: flex;
    height: 70vh;
    margin: 0 1rem 0 1rem;
  }

  .driver_documents_label_seperation {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
  }
  
  .submit_image {
    background-color: $amazon_blue;
    border: 0;
    color: $offWhite;
    height: 4vh;
  }

  .submit_image:hover {
    color: $amazon_blue;
    background-color: $offWhite;
  }

  .submit_image:before {
    content: "";
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $offWhite;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .submit_image:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .uploaded_image {
    max-width: 30vw;
    max-height: 35vh;
  }

  .documents_h3 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  .uploaded_image_two_false {
    max-width: 15vw;
    margin: 1rem;
  }

  .uploaded_image_two_true {
    max-width: 15vw;
    margin: 1rem;
  }

  .uploaded_image_two_false:hover {
    animation-name: giveShadow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  .uploaded_image_two_true:hover {
    animation-name: giveShadow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  .image_list_divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $amazon_blue;
    border-radius: .5rem;
    margin: 1rem;
  }
  
  .image_list_divs_false {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $amazon_blue;
    border-radius: .5rem;
    margin: 1rem;
    background-color: rgba(211, 128, 128, 0.575);
  }

  .button_div_box {
    display: flex;
  }

  @keyframes giveShadow {
    0%{

    }
    100% {
      transform: translateY(-.5rem);
      box-shadow: 0px 10px 15px $amazon_blue;
    }
  }

  .document_input {
    @extend %input_bars;
    width: 30vw;
    padding: 1rem;
  }

  .submit_files {
    border: 2px solid #232F3E;
    padding: 2rem;
    margin-right: .25vw;
    height: 60vh;
    opacity: 0;
    animation-name: slideInEffect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes slideInEffect {
    0% {
      width: 0;
      opacity: 0;
    }
    50% {
      width: 50;
      opacity: .2;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }

  .big_picture {
    animation-name: makeBig;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  @keyframes makeBig {
    0% {
      opacity: 0;
      max-height: 0;
    }
    100% {
      opacity: 1;
      max-height: 90vh;
      margin: 0 auto;
    }
  }

  .big_picture_div {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(35, 47, 62, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .submit_files_two {
    border: 2px solid #232F3E;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 60vh;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .submit_files_dissapear {
    border: 2px solid #232F3E;
    height: 60vh;
    animation-name: fadeOutRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  @keyframes fadeOutRight {
    0% {
      width: 100%;
      opacity: 1;
    }
    50% {
      width: 50%;
      opacity: .2;
    }
    100% {
      width: 0%;
      opacity: 0;
    }
  }

  @keyframes fadeInRight {
    0% {
      width: 0%;
      opacity: 0;
    }
    50% {
      width: 50%;
      opacity: 0;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }

  .form_on_document_page {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .documents_search_bar {
    border: 2px solid #232F3E;
    padding: 1rem;
    margin: 0 1rem .5rem 1rem;
    display: flex;
    justify-content: space-evenly;
  }


  .drivers_names_documents {
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .image_in_documents_folder {
    height: 1.2vh;
    margin-left: 5px;
  }

  .name_list_documents {
    position: relative;
    font-size: 1.3em;
    font-weight: 400;
    margin: 10px;
  }

  .name_list_documents:hover {
    color: $amazon_blue;
  }

  .name_list_documents:before {
    content: "";
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $amazon_blue;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .name_list_documents:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }


  .dashboard_form_divs_name_bar_docs {
    position: absolute;
    margin-top: 2.2rem;
    margin-left: 8.1rem;
    padding: 5px;
    width: 15vw;
    border-right: 1px solid $amazon_blue;
    border-bottom: 1px solid $amazon_blue;
    border-left: 1px solid $amazon_blue;
    background-color: white;
    z-index: 1;
  }

  
  /****************************************  DETAILS COMPONENT STYLE ************************************************************/
  
  .details_component_overall {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 93%;
    margin: 0 2rem 2rem 2rem;
    border: 2px solid $amazon_blue;
  }
  
  .details_form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    @extend %input_bars;
  }
  
  label {
    @extend %label_text;
    font-family: $ubuntu_font;
  }
  
  /****************************************  INVOICING COMPONENT STYLE ************************************************************/

  .main_content_invoicing{
    grid-area: main_content;
    background-color: $offWhite;
    overflow-y: scroll;
    animation-name: loadingStyle;
    animation-duration: 1s;
  }

  .loading_link {
    width: 10vw;
    border-radius: .5rem;
    @extend %centerThings;
    height: 5vh;
    background-color: $amazon_blue;
  }

  .loading_link:hover {
    background-color: $amazon_blue_hover;
    transform: translateY(-.15rem);
  }

  .pdf_text {
    text-decoration: none;
    margin-bottom: 2rem;
  }

  .viewer_class {
    height: 80vh;
    width: 40vw;
  }

  .loading_text {
    color: $offWhite;
  }

  .documents_search_bar_invoicing {
    border-bottom: 1px solid rgba(35, 47, 62, 0.26);
    border-top: 1px solid rgba(35, 47, 62, 0.26);
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 0 1rem .5rem 1rem;
    width: 86vw;
  }
  
  .dashboard_form_divs_name_bar_invoicing {
    position: absolute;
    margin-top: 2.2rem;
    margin-left: 5.1rem;
    padding: 5px;
    width: 15vw;
    border-right: 1px solid $amazon_blue;
    border-bottom: 1px solid $amazon_blue;
    border-left: 1px solid $amazon_blue;
    background-color: white;
    z-index: 1;
  }

  .invoice_content {
    margin: 2rem;
    color: $amazon_blue;
    font-family: $ubuntu_font;
  }

  .invoice_form_divs_name {
    width: 32vw;
    margin-top: 1rem;
    display: flex;
  }

  .documents_search_bar_invoicing_dates {
    display: flex;
    margin: auto 0;
    padding: 0;
    font-size: 1.3em;
    color: $amazon_blue;
  }

  .invoices_overall {
    margin: 0 1rem .5rem 1rem;
    width: 86vw;
    height: 80vh;
  }

  .top_divs {
    border-left: solid rgba(35, 47, 62, 0.199) 5px;
    border-bottom: 2px solid rgba(35, 47, 62, 0.199);
    border-radius: .5rem;
    padding: 5px;
    margin-right: 4px;
  }

  .top_divs:hover {
    border-bottom: 2px solid rgba(35, 47, 62, 0.0);
    border-left: solid 5px rgba(35, 47, 62, 0.733) ;
    transform: translateY(-.1rem);
  }

  .invoice_date_list {
    width: 86vw;
    display: flex;
  }

  .single_Invoice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70vh;
    margin-top: 5px;
    border-top: 1px solid rgba(35, 47, 62, 0.26);
  }
  
  .invoice_item {
    margin: 1rem;
    padding: .5rem;
    border-radius: .55rem;
    border-left: 10px solid rgba(35, 47, 62, 0.267);
    border-bottom: 2px solid rgba(35, 47, 62, 0.26);
    width: 25vw;
    animation-name: slidein;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  .inside_text_invoice {
    margin-left: 1rem;
    animation-name: text_fun;
    animation-duration: .5s;
  }

  // .invoice_item:hover {
  //   border-bottom: 2px solid rgba(35, 47, 62, 0.733);
  //   border-left: solid 5px rgba(35, 47, 62, 0.733) ;
  //   transform: translateY(-.1rem);
  // }
  
  .single_Invoice_overall {
    display: flex;
    flex-direction: column;
    height: 65vh;
    margin-top: 5px;
    border-top: 1px solid rgba(35, 47, 62, 0.26);
    overflow-y: scroll;
    padding: 1rem;
  }

  .invoice_overall_title {
    @extend %centerThings;
    flex-direction: column;
    background-color: $amazon_blue;
    color: $offWhite;
    min-height: 25vh;
  }

  .h20_title {
    font-size: 4em;
    padding: 0;
    margin: 0;
  }

  .billing_details_portion {
    border: 2px solid $amazon_blue;
    margin-top: .5rem;
    min-height: 60vh;
    display: flex;
  }

  .water_drop_picture {
    height: 10vh;
  }

  .left_section_invoice {
    width: 50%;
  }

  .right_section_invoice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
  }

  .driver_details_section {
    display: flex;
    width: 20vw;
    height: 10vh;
    font-size: 1.5em;
    padding: 2rem;
    margin: 2rem;
    border-bottom: 1px solid $amazon_blue;
  }

  .driver_details_section_right {
    display: flex;
    width: 25vw;
    height: 10vh;
    font-size: 1.5em;
    padding: 2rem;
    margin: 2rem;
    border-bottom: 1px solid $amazon_blue;
  }

  @keyframes slidein {
    0% {
      color: white;
      transform: translatey(5vh);
    }
    100% {
      transform: translatey(0vh);
    }
  }

  @keyframes text_fun {
    0% {
      color: white;
      transform: translatey(5vh);
    }
    100% {
      transform: translatey(0vh);
    }
  }

  @media only screen and (max-width: 1500px) {
    html, body {
      font-size: 90%;
    }

    .dashboard_form_divs_name_bar_invoicing {
      margin-top: 2.3rem;
      margin-left: 4.8rem;
      z-index: 1;
    }

    .dashboard_form_divs_name_bar_docs {
      margin-top: 2.3rem;
      margin-left: 7.5rem;
      z-index: 1;
    }
    
    .middle_row {
      width: 88vw;
    }
  }
  